<%= simple_form_for(@lutador) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :altura %>
    <%= f.input :peso %>
    <%= f.input :categoria %>
    <%= f.input :especialidade %>
    <%= f.input :ranking %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
