<p id="notice"><%= notice %></p>

<h1>Lutadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Altura</th>
      <th>Peso</th>
      <th>Categoria</th>
      <th>Especialidade</th>
      <th>Ranking</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lutadores.each do |lutador| %>
      <tr>
        <td><%= lutador.nome %></td>
        <td><%= lutador.altura %></td>
        <td><%= lutador.peso %></td>
        <td><%= lutador.categoria %></td>
        <td><%= lutador.especialidade %></td>
        <td><%= lutador.ranking %></td>
        <td><%= link_to 'Ver', lutador %></td>
        <td><%= button_to 'Editarar', edit_lutador_path(lutador), :method => :get  %></td>
        <td><%= button_to 'Excluir', lutador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Lutador', new_lutador_path %>
