<%= simple_form_for(@jogador) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :telefone %>
    <%= f.input :endereco, label: "Endereço" %>
    <%= f.input :usuario %>
    <%= f.input :senha %>
    <%= f.input :numeroConta %>
    <%= f.input :agencia %>
    <%= f.input :banco %>
  </div>

  <div class="form-actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
