<p id="notice"><%= notice %></p>

<h1>Arbitros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Qtd lutas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arbitros.each do |arbitro| %>
      <tr>
        <td><%= arbitro.nome %></td>
        <td><%= arbitro.qtd_lutas %></td>
        <td><%= link_to 'Ver', arbitro %></td>
        <td><%= button_to 'Editar', edit_arbitro_path(arbitro), :method => :get  %></td>
        <td><%= button_to 'Excluir', arbitro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Arbitro', new_arbitro_path %>
