<!DOCTYPE html>
<html>
	<head>
		<title>Apostas</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= params[:controller] %>_controller">

		<div id="main">
			<header>
				<div id="banner">
					<div id="welcome">
						<h3>Apostas <span>UFC</span></h3>
					</div><!--close welcome_slogan-->			
				</div><!--close banner-->
			</header>

			<nav>
				<div id="menubar">
					<ul id="nav">
						<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
						<li class="<%= 'active' if current_page?(arbitros_path) %>"><%= link_to "Arbitro", arbitros_path %></li>
						<li class="<%= 'active' if current_page?(lutadores_path) %>"><%= link_to "Lutador", lutadores_path %></li>
						<li class="<%= 'active' if current_page?(lutas_path) %>"><%= link_to "Luta", lutas_path %></li>
						<li class="<%= 'active' if current_page?(jogadores_path) %>"><%= link_to "Jogador", jogadores_path %></li>
						<li class="<%= 'active' if current_page?(tipo_apostas_path) %>"><%= link_to "Tipo Aposta", tipo_apostas_path %></li>
						<li class="<%= 'active' if current_page?(apostas_path) %>"><%= link_to "Aposta", apostas_path %></li>
					</ul>
				</div><!--close menubar-->	
			</nav>	

			<div id="site_content">		

				<div class="sidebar_container">  		
					<div class="sidebar">
						<div class="sidebar_item">
							<h2>Como utilizar o site</h2>
							<p>Para navegar pelo site, você pode utilizar o menu superior. Cada aba te levará a uma tela onde as opções cadastrar, exibir, deletar e editar estarão disponíveis. Qualquer dúvia, entrar em contato, o endereço de email e telefone se encontram logo abaixo.</p>         
						</div><!--close sidebar_item--> 
					</div><!--close sidebar-->
					<div class="sidebar">
						<div class="sidebar_item">
							<h2>Contato</h2>
							<p>Telefone: +22 9 99768-2172</p>
							<p>Email: apostasUFC@gmail.com</p>
						</div><!--close sidebar_item--> 
					</div><!--close sidebar-->
				</div><!--close sidebar_container-->	

				<div id="content">
					<div class="content_item">
						<%= yield %>
					</div><!--close content_item-->
				</div><!--close content-->   
			</div><!--close site_content-->  	
		</div><!--close main-->

		<footer>			
			website template by <a href="http://www.freehtml5templates.co.uk">Free HTML5 Templates</a>
		</footer>
	</body>	
</html>
